{% extends 'base.html.twig' %}


{% block body %}

	<div class="parallax-window" id='parallax-input' data-parallax="scroll" data-image-src="../images/IMG_0409.jpg">
		<div class="order">
<a href="{{ path('categories_show') }}">


<input type="image" id="image" alt="Order" src="../images/shop.png"> </a>

		</div>
	</div>
	<div class="parallax-window" data-parallax="scroll" data-image-src="../images/IMG_0407.jpg"></div>


	<div class="parallax-window" data-parallax="scroll" data-image-src="../images/IMG_0412.jpg"></div>
	{# <div class="parallax-window" data-parallax="scroll" data-image-src="../images/IMG_0408.jpg"></div> #}


{% endblock %}

