{% extends 'base.html.twig' %}

{% block body %}


	<!-- Image Cards -->
	<div class="card-category-2" id="divmaison">

		<span class="category-name">La Maison Bayat</span>
				<ul>
			<div class="img-card iCard-style1">
				<div class="card-content">
					<div class="card-image">
						<span class="card-title"></span>
						<img src="../images/IMG_0412.jpg"/>
					</div>

					<div class="card-text">
						<p>
							Boulangerie-pâtisserie à Paris, Maison Bayat vous accueille chaleureusement au sein de sa boutique pour vous proposer chaque jour des pains frais et artisanaux ainsi que de délicieuses pâtisseries maison. Artisans boulangers et pâtissiers à Paris depuis 1995, nous mettons tout notre savoir-faire au service de vos papilles. Rendez-vous au magasin, nous sommes situés à proximité du Gare du Nord !
						</p>
					</div>

				</div>

			</div>
		</li>

		<li>
			<div class="img-card iCard-style2">
				<div class="card-content">
					<div class="card-image">
						<span class="card-caption"></span>
						<img src="../images/pain.jpg"/>
					</div>

					<span class="card-title"></span>

					<div class="card-text">
						<p>
A' La Maison Bayat, c’est avant tout une histoire d’amour pour le bon pain et les pâtisseries de qualité. Passionné par son métier, notre artisan boulanger travaille chaque jour avec un objectif : vous permettre de profiter de la saveur unique du pain artisanal et de créations pâtissières 100% maison. </p>
					</div>

				</div>

			</div>
		</li>

		<li>
			<div class="img-card iCard-style3">
				<div class="card-content">
					<div class="card-image">
						<span class="card-title"></span>
						<img src="../images/patissiers.png">

					</div>

					<div class="card-text">
						<p>
							Chaque matin, votre artisan boulanger réalise avec amour des pains maison à partir de farines de qualité. Pains blancs, baguettes et pains artisanaux…, notre boulangerie-pâtisserie propose plus d’une trentaine de créations maison aux saveurs variées. Retrouvez la saveur unique du pain d’antan.

						</p>
					</div>

				</div>

			</div>
		</li>

<li>
	<div class="img-card iCard-style3">
		<div class="card-content">
			<div class="card-image">
				<span class="card-title"></span>
				<img src="../images/IMG_0413.jpg">


			</div>

			<div class="card-text">
				<p>
					Chaque matin, votre artisan boulanger réalise avec amour des pains maison à partir de farines de qualité. Pains blancs, baguettes et pains artisanaux…, notre boulangerie-pâtisserie propose plus d’une trentaine de créations maison aux saveurs variées. Retrouvez la saveur unique du pain d’antan.

				</p>
			</div>

		</div>

	</div>
</li>

	</div>
</li></ul></div><br/></div>{% endblock %}
